@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/violet.css';

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  main {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children vertically */
    align-items: flex-start; /* Align items at the start (left) */
    padding: 1em; /* Add padding */
    height: 100vh; /* Take full height of the viewport */
    background-color: #D03129; /* Background color */
  }

  h1 {
    @apply absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @apply text-3xl;
    @apply text-left;
    color: #FEFDFD;
    line-height: 1.5;
    margin-right: 3em; /* Add some right margin */
  }

  .h1-alt {
    @apply absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @apply text-gray-100;
    @apply text-3xl;
    @apply text-left;
    /* apply color: EEE5D9; */
    color: #D03129;
    line-height: 1.75; /* Set line height */
    margin-right: 3em; /* Add some right margin */
  }

  .h1-blind {
    @apply text-xl;
    color: #D03129;
    -webkit-user-select: none;  
    -moz-user-select: none;   
    -ms-user-select: none;      
    user-select: none;          
  }

  h2 {
    @apply absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 3em; /* Add some left margin */
    color: #D03129;
    @apply text-2xl;
    @apply text-right;
    @apply text-justify;
    margin-bottom: 1em; /* Add some bottom margin */
    width: 30%; /* Adjust this to the point you want the text to stop */
    word-wrap: break-word; /* Break the word at the end of the line */
    overflow-wrap: break-word; /* Break the word at the end of the line */
  }

  h3 {

    @apply absolute top-4 right-4;
    width: 15%;
    @apply text-justify;
    @apply text-2xl;
    
    /* apply color: EEE5D9; */
    color: #D03129;
    line-height: 1.5; /* Set line height */
  }
}

.icon-bottom-right, .icon-bottom-right-alt {
  position: absolute;
  top: 57.5%;
  right: 17.2%;
  transform: translateY(-50%) scale(1.5);
}

.icon-bottom-right {
  color: #FEFDFD;
}

.icon-bottom-right-alt {
  color: #D03129;
}

.on-color {
  background-color: #FEFDFD;
}

.off-color {
  background-color: #D03129;
}

.icon-top-right {
  @apply relative;
  color: #D03129;
  transform: scale(2.5);
  display: inline-block;
}

.etymology {
  color: #147641;
}