@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: black;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.main-page {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    
}

/* TEXT CLASSES */

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 300px; /* Fixed width for the text container */
    position: relative;
    padding: 20px;
}

.top-right, .middle-right, .bottom-right {
    text-align: left;
    height: 33.33%;
    align-self: flex-start;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    flex: 0 0 auto;
    color:white;
    /* increasing letter spacing */
    letter-spacing: 0.01em;
}

.middle-right {
    margin: auto 0; /* This will center the middle-right element vertically */
}

.top-right, .middle-right {
    font-size: 1.75em;
    /* bold font */
    font-weight: 700;
}

.bottom-right {
    font-size: 1.5em;
    font-weight: 200;
    font-style: italic;
}
/* PHOTO CLASSES */

.photo-container {
    flex-grow: 1;
    position: relative;
}

.img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px;
}

.spacer {
    width: 200px;
    flex-shrink: 0;
}

/* mobile styles */
@media (max-width: 1024px) {
    .main-page {
        flex-direction: column;
        padding: 10px;
    }
    
    .text-container {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
    
    .photo-container {
        width: 100%;
        height: auto;
    }
    
    .img {
        width: 100%;
        object-fit: contain;
    }
    
    .top-right, .middle-right, .bottom-right {
   
        width: 100%;
        flex: none;
    }
    
    .top-right, .middle-right {
        text-align: right;
        font-size: 1em;
    }
    
    .bottom-right {
        font-size: 0.75em;
    }
    
}