@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: white;
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0%;
}

body {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100vh;
}

/* TEXT CLASSES */

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 300px; /* Fixed width for the text container */
    position: relative;
    padding: 40px;
}

.top-right {
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-self: center;
    color:#FE7631;
    letter-spacing: 0.01em;
    font-size: 1.75em;
    font-weight: 700;
    max-width: 250px;
}

/* mobile styles */
@media (max-width: 1024px) {
    .text-container {
        width: 90%;
        max-width: 600px;
        padding: 20px;
        justify-content: center;
    }
    
    .top-right {
        font-size: 1.5em;
        max-width: 300px;
        padding: 0 20px;
        text-align: center;
    }
}